apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
nodes:
  - role: control-plane
  - role: worker
    extraMounts:
      # Create a mount on my local machine to the container host
      - hostPath: /Users/kimanthi/projects/de_projects/databricks-airflow/tmp/logs
        containerPath: /mnt/airflow-data/logs
